<div class="product-card">
  <div class="image-container">
    <img [src]="product.imageUrl" [alt]="product.title" class="product-image" />
  </div>
  
  <h2 class="product-title">{{ product.title | titlecase }}</h2>
  <p class="product-description">{{ product.description }}</p>
  
  <div class="likes-count">
    <lucide-icon name="heart" (click)="addToFavorites()" size="18" [class.product-favorite]="product.favorite"></lucide-icon>
    <span class="like-number" [ngStyle]="{color: 'rgb(0, ' + product.likes + ', 0)'}">{{ product.likes }}</span>
    <span *ngIf="product.likes > 200" class="product-hit">Coup de <lucide-icon name="heart" size="18"></lucide-icon></span>
  </div>
  <p class="product-price">{{ product.price | currency:'EUR':'symbol':'1.2-2' }}</p>
  <p >{{product.availableUntil | date:'yyyy-MM-dd' }}</p>
  <a [routerLink]="['/products', product.id]" class="view-link">Voir le produit</a>
  <button (click)="onDelete()">Supprimer</button>
</div>